.faq_section {
  width: var(--width-lg);
  max-width: var(--max-width);
  /* background-color: var(--primary-bg); */
  border-radius: var(--br-16);
  min-height: 500px;
  height: auto;
  margin: auto;
  margin-top: 60px;
}

.faq_title_text {
  font-size: 2vw;
  text-align: center;
}

.devider {
  width: 400px;
  border: 1px solid var(--gradient-text-color);
  border-radius: 100px;
  margin: auto;
  margin-top: 15px;
}

.faq_wrapper {
  margin-top: 40px;
}
.faq {
  width: 85%;
  background-color: var(--primary-bg);
  border-radius: var(--br-16);
  padding: 10px 30px;
  margin: auto;
  margin-bottom: 30px;
  box-shadow: var(--faq-box-shadow);
}
.question_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1em;
  color: var(--secondary-color-900);
  font-weight: 500;
  padding: 15px 0px;
}

.answer {
  padding: 15px 0px;
}
.collapse {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease;
}

.collapse.open {
  height: auto;
}
.open_close_btn {
  background: transparent;
  border: none;
  cursor: pointer;
}
.open_close_btn > img {
  width: 28px;
}

@media screen and (min-width: 200px) and (max-width: 480px) {
    .faq_section {
  width: var(--width-sm);
  max-width: var(--max-width);
  /* background-color: var(--primary-bg); */
  border-radius: var(--br-16);
  min-height: 500px;
  height: auto;
  margin: auto;
  margin-top: 60px;
}
  .faq_title_text {
    font-size: 4vw;
    text-align: center;
  }
  .devider {
    width: 150px;
    border: 1px solid var(--gradient-text-color);
    border-radius: 100px;
    margin: auto;
    margin-top: 10px;
  }
  .faq {
    width: 90%;
    background-color: var(--primary-bg);
    border-radius: var(--br-10);
    padding: 5px 20px;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: var(--faq-box-shadow);
  }
  .question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .8em;
    color: var(--secondary-color-900);
    font-weight: 500;
    padding: 15px 0px;
  }

  .answer {
    padding: 15px 0px;
  }
  .open_close_btn > img {
    width: 28px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
     .devider {
    width: 250px;
    border: 1px solid var(--gradient-text-color);
    border-radius: 100px;
    margin: auto;
    margin-top: 10px;
  }
    .faq_title_text {
    font-size: 4vw;
    text-align: center;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
         .devider {
    width: 290px;
    border: 1px solid var(--gradient-text-color);
    border-radius: 100px;
    margin: auto;
    margin-top: 10px;
  }
    .faq_title_text {
    font-size: 2.8vw;
    text-align: center;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
}
